.calculator{
    padding-top: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    padding: 10px;
    margin: 10px;
    width: 70px;
    height: 50px;
}

#display{
    border: 5px solid black;
    padding: 10px;
    width: 325px;
    height: 48px;
    text-align: right;
    font-size: 40px;
    margin-bottom: 10px;
}